*, *::after, *::before{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif ;
}
.clock{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: .5rem solid black;
    position: relative;
    background-color:honeydew;
}
body{
    background: linear-gradient(to left, rgb(12, 9, 167), rgb(26, 30, 41));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
     
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}
.clock .number1{ --rotation: 30deg;}
.clock .number2{ --rotation: 60deg;}
.clock .number3{ --rotation: 90deg;}
.clock .number4{ --rotation: 120deg;}
.clock .number5{ --rotation: 150deg;}
.clock .number6{ --rotation: 180deg;}
.clock .number7{ --rotation: 210deg;}
.clock .number8{ --rotation: 240deg;}
.clock .number9{ --rotation: 270deg;}
.clock .number10{ --rotation: 300deg;}
.clock .number11{ --rotation: 330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: .1rem solid white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}
.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second{
    width: .4rem;
    height: 45%;
    background-color: red;
}
.clock .hand.minute{
    width: .6rem;
    height: 40%;
    background-color: black;
}
.clock .hand.hour{
    width: .9rem;
    height: 35%;
    background-color: black;
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:760px){
    html{
        font-size: 45%;
    }
}